/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Section */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Design */
.about-section, .school-details {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

strong {
    color: #677b87;
}

/* Table Section */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}

caption{
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #111010;
}

thead {
    background-color: #333;
    color: #fff;
}

th[scope="row"] {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .about-section, .school-details {
        padding: 15px;
        margin: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 0.9rem;
    }

    table {
        font-size: 1rem;
    }

    th, td {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
    }

    .about-section, .school-details {
        padding: 10px;
        margin: 5px;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    table, th, td {
        font-size: 0.9rem;
        padding: 8px;
    }

    table {
        display: block;
        overflow-x: auto;
        /* white-space: nowrap; */
    }

    th, td {
        display: block;
        text-align: right;
    }

    th[scope="row"] {
        background-color: #fff;
    }
}
