body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Section */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 5px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section design*/
.about-section, .school-details {
    background-color: #fff;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

strong {
    color: #677b87;
}
    
/* Media query */
@media (max-width: 768px) {        
    .about-section, .school-details {
        padding: 15px;
        margin: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 0.9rem;
    }
}    

/* Table section*/
table,tr,th,td,caption{
    border: 1px solid #0e0d0d;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2rem;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

caption {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #111010;
}

thead {
    background-color: #333;
    color: #fff;
}

th[scope="row"] {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

